# python
*.py[cod]

stat
result
event_stat

graph
log
event2vec
BOWLR_log

# data
RNNmodels
data
event
exper
ICU_exper
ICU_merged_exper
death_exper
death_merged_exper
baseline/retainData
test/test.model

# backup
result_backup
data_bk