# python
*.py[cod]

stat
result
event_stat

graph
log
event2vec
BOWLR_log

# data
RNNmodels
zhu_data
zhu_exper
data
event
exper
ICU_exper
ICU_merged_exper
death_exper
death_merged_exper
baseline/retainData
sample_exper
RNNmodels
static_data

# backup
result_backup
data_bk
/backup

# test
test